/*DFFAULT OVERRIDES*/

*{
  margin: 0;
  padding: 0;
}

html, body{
  width: auto!important;
  overflow-x: hidden!important;
  background-color: #f4f5db;
  font-family: arial;

}

/*STYLE FOR NAV*/
nav{
  background-color: #00274D;
}

#nav-container{
  margin-right: auto!important;
  margin-left: auto!important;
}

@media only screen and (max-width:400px){
  .navbar{
    padding: 1.250rem;
    text-decoration-color: white;
  }
  .navbar-brand{
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.375rem;
  }
}

@media only screen and (min-width:400px) and (max-width:500px) {
  .navbar{
    padding: 1.250rem;
  }
  .navbar-brand{
    padding-right: 2.50rem;
  }
}

@media only screen and (min-width:500px) and (max-width:640px) {
  .navbar{
    padding: 1.250rem;
  }
  .navbar-brand{
    padding-right: 2.625rem;
  }
}
@media only screen and (min-width:640px) and (max-width:720px){
  .navbar{
    padding: 1.250rem;
  }
  .navbar-brand{
    padding-right:2.75rem;
  }
}
@media only screen and (min-width:720px) and (max-width:960px) {
  .navbar{
    padding: 1.250rem;
  }
  .navbar-brand{
    padding-right:2.875rem;
  }
}

@media only screen and (min-width:960px) and (max-width:1140px) {
  .navbar{
    padding: 1.250rem;
  }
  .navbar-brand{
    padding-right:3rem;
  }
}
@media only screen and (min-width:1140px) and (max-width:1320px) {
  .navbar{
    padding: 1.250rem;
  }
  .navbar-brand{
  }
}
@media only screen and (min-width:1320px){
  .navbar{
    padding: 1.250rem;
  }
  .navbar-brand{
  }
}


/*BANNER FOR TITLE CARD*/

#banner{
  background-image: url("titlecard.png");
  background-size: 100% 100%;
}

@media only screen and (max-width:400px){
  #banner{
    height:7rem;
  }
}

@media only screen and (min-width:400px) and (max-width:500px) {
  #banner{
    height:8rem;
  }
}

@media only screen and (min-width:500px) and (max-width:640px) {
  #banner{
    height:9rem;
  }
}
@media only screen and (min-width:640px) and (max-width:720px){
  #banner{
    height:11.750rem;
  }
}
@media only screen and (min-width:720px) and (max-width:960px) {
  #banner{
    height: 12.625rem;
  }
}

@media only screen and (min-width:960px) and (max-width:1140px) {
  #banner{
    height: 15.625rem;
  }
}
@media only screen and (min-width:1140px) and (max-width:1320px) {
  #banner{
    height: 18.625rem;
  }
}
@media only screen and (min-width: 1320px){
  #banner{
    height: 22rem;
  }
}


/*
GLIDER FOR CONTENT IN INDEX PAGE
*/

.btn{
  background-color: #00274D;

}
.card{
  color: #00274D;
}
.card-title{

}
.card-text{
  text-align: center;
}


@media only screen and (max-width:400px){
  #content-glider{
    padding: 1.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1.250rem;
    margin-left: 1.250rem;
  }
}

@media only screen and (min-width:400px) and (max-width:500px) {
  #content-glider{
    padding: 1.875rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1.250rem;
    margin-left: 1.250rem;
  }
}

@media only screen and (min-width:500px) and (max-width:640px) {
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1.250rem;
    margin-left: 1.250rem;
  }
}
@media only screen and (min-width:640px) and (max-width:720px){
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1.250rem;
    margin-left: 1.250rem;
  }
}
@media only screen and (min-width:720px) and (max-width:960px) {
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 0.625rem;
    margin-left: 0.625rem;
  }
}

@media only screen and (min-width:960px) and (max-width:1140px) {
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media only screen and (min-width:1140px) and (max-width:1320px) {
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media only screen and (min-width:1320px){
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
