/*DFFAULT OVERRIDES*/

*{
  margin: 0;
  padding: 0;
}

html, body{
  width: auto!important;
  overflow-x: hidden!important;
  background-color: #f4f5db;
  font-family: arial;

}

/*STYLE FOR NAV  #00274D;*/
nav{
  background-color: #ffffff;
  font-size: 1.250rem;
}

#nav-container{
  margin-right: auto!important;
  margin-left: auto!important;
}

@media only screen and (max-width:400px){
  /*Change implemented*/
  .bar-links {
    font-size: 1rem!important;
  }
  .navbar{
    padding: 1.250rem;
    text-decoration-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-brand{
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.375rem;
  }
}

@media only screen and (min-width:400px) and (max-width:500px) {
  .bar-links {
    font-size: 1rem!important;
  }
  .navbar{
    padding: 1.250rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-brand{
    padding-right: 2.50rem;
  }
}

@media only screen and (min-width:500px) and (max-width:640px) {
  .navbar{
    padding: 1.250rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-brand{
    padding-right: 2.625rem;
  }
}
@media only screen and (min-width:640px) and (max-width:720px){
  .navbar{
    padding: 1.250rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-brand{
    padding-right:2.75rem;
  }
}
@media only screen and (min-width:720px) and (max-width:960px) {
  .navbar{
    padding: 1.250rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-brand{
    padding-right:2.875rem;
  }
}

@media only screen and (min-width:960px) and (max-width:1140px) {
  .navbar{
    padding: 1.250rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-brand{
    padding-right:3rem;
  }
  #brand-container{
    width:334px;
    height:100px;
  }
}
@media only screen and (min-width:1140px) and (max-width:1320px) {
  .navbar{
    padding: 1.250rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-brand{
  }
  #brand-container{
    width:334px;
    height:100px;
  }
}
@media only screen and (min-width:1320px){
  .navbar{
    padding: 1.250rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-brand{
  }
  #brand-container{
    width:334px;
    height:100px;
  }
}



/*
GLIDER FOR CONTENT IN INDEX PAGE
*/
#content-glider{
}
.btn{
  background-color: #8299ce;

}
.card{
  color: #00274D;
  background-color: #f4f5db;
  border: none;
}
.card-title{

}
.card-text{
  text-align: center;
}
#contract-card{
  margin-top: 2.5rem!important;
}

@media only screen and (max-width:400px){
  #content-glider{
    padding: 1.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1.250rem;
    margin-left: 1.250rem;
  }
}

@media only screen and (min-width:400px) and (max-width:500px) {
  #content-glider{
    padding: 1.875rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1.250rem;
    margin-left: 1.250rem;
  }
}

@media only screen and (min-width:500px) and (max-width:640px) {
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1.250rem;
    margin-left: 1.250rem;
  }
}
@media only screen and (min-width:640px) and (max-width:720px){
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1.250rem;
    margin-left: 1.250rem;
  }
}
@media only screen and (min-width:720px) and (max-width:960px) {
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 0.625rem;
    margin-left: 0.625rem;
  }
}

@media only screen and (min-width:960px) and (max-width:1140px) {
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media only screen and (min-width:1140px) and (max-width:1320px) {
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media only screen and (min-width:1320px){
  #content-glider{
    padding: 2.50rem;
  }
  .glider-contain{
    padding: 0px;
  }
  .card{
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
